@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'flexi_variables';


body{
	background: $body-bg;
	color: $base-fnt-clr;
	font-family: $font-family;
	font-size: $base-fnt;
	padding: 0 10px;
}
h1{
	&.siteLogo{
		float: none;
		text-align: center;
		margin: 50px auto 60px;
		img{
			@extend .img-responsive;
			margin:0 auto;
		}
	}
}
.align_mdl, .align_mdl_sml{
	float: none !important;
	margin: 0 auto;
}
a, a:focus{
	color: $secondary-clr;
	text-decoration: none;	
	&:hover{
		color: $base-fnt-clr;
		text-decoration: none;
	}
}

.flexi_info{
	font-size: $fnt26;
	text-align: center;
	p{
		margin: 0 0 10px;
	}	
	p:nth-child(1){
		margin-bottom: 38px;
	}
}
.getStarted{
	float: none; 
	margin: 43px auto 50px;
	background: $primary-clr;
	padding: 30px;
	
	.reqElem{
		padding-top: 85px;
		text-align: center;
		font-size: $fnt24;
		margin-top: 6px;
		margin-bottom: 43px;
	}
	.IDrequire{
		background: url('../images/id_card.png') no-repeat center top;		
	}
	.over18{
		background: url('../images/over18.png') no-repeat center top;		
	}
	.upfrontFee{
		background: url('../images/upfront_fee.png') no-repeat center top;		
	}

	.getStartedBtn{
		float: none;
		margin: 0 auto;
		.btn{
			width: 100%;
			line-height: 68px;
			font-size: $fnt35;
			@include primaryBtn_grad();
			&:focus{
				outline: none;
			}
		}
	}	
}
.resumeApp{
	text-align: center;
	font-size: $fnt18;
	color: $secondary-clr;
	float: none;
	margin: 24px auto 0;
	position: relative;
	z-index: 9;
	
}
.resumeApp_overlay{
	&:before{
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		border: 20px solid $resumeOverlay_bg;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		position: absolute;
		top: -40px;
		left: 50%;
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	
	
	text-align: left;
	background: $resumeOverlay_bg;
	position: absolute;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-top: 26px;
	width: 100%;
	padding: 34px 30px;
	z-index: -1;
	color: $resumeOverlay_txt;
	font-size: $fnt20;
	box-shadow: 6px 6px 0px -2px $overlay_shadow;

	.overlayCntrls{
		@include clearfix();
		margin: 30px 0 15px;
		button{
			@include primaryBtn_grad();
			margin-top: 20px;
			color: $base-fnt-clr;
			font-size: $fnt24;
			height: auto;
			outline: none;
			&:hover, &:focus{
				box-shadow: none;
			}
		}
	}

	&.upward{
		bottom: 0;
		box-shadow: -6px -6px 0px -2px $overlay_shadow;
		&:before{
			display: none;
		}
		&:after{
			content: "";
			width: 20px;
			height: 20px;
			display: block;
			border: 20px solid $resumeOverlay_bg;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			position: absolute;
			bottom: -40px;
			right: -10px;
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}

	&.saveLnk{
		bottom: 60px;
	}
}
ul.benefitsList{	
	margin: 0;
	padding: 0;	
	margin-bottom:50px;
	font-size: $fnt20;
	li{
		padding-bottom: 18px;
		list-style-type: none;
		background: url('../images/tick.png') no-repeat 0 0;
		padding-left: 50px;
	}
}
.needHelp{
	margin: 0 auto;
	float: none;
	text-align: center;	
	font-size: $fnt24;	
	background: $primary-clr;
	padding: 40px 0;
	
	h3{
		background: url('../images/callnow.png') no-repeat center top;
		padding-top: 61px;
		font-size: $fnt36;
		font-weight: normal;
		margin: 13px 0 0;
		background-size: 44px;
		background-size: inherit;
	}
}


.pageFooter{
	border-top: 1px solid #5a5b60;
	margin-top: 65px;
	text-align: center;
	font-size: $fnt20;
	color: #6d6d72;
	padding: 20px 0;

	p{
		margin: 10px 0;
	}
	ul{
		margin: 0;
		li{
			list-style-type: none;
			display: inline;
			a{
				padding: 10px;
			}
			&+li{
				border-left: 1px solid #6d6d72;
			}
		}
	}
}

/*Expenses Page sass*/
.frm-label{
	@include make-xs-column(6);
}
.frm-label-lg{
	@include make-xs-column(12);
}
.frm-cntrl{
	@include make-xs-column(6);	
}
.frm-cntrl-lg{
	@include make-xs-column(12);	
}
select, .selectBox_container{
	@extend .form-control;
	@include flexi_txt();
	font-size: $fnt24;
	position: relative;
	line-height: 40px;
	cursor: pointer;

	&:after{
		content:"";
		display: inline-block;
		position: absolute;
		background: #fff url(../images/right_arrw.png) no-repeat center;
		width: 28px;
		height: 28px;
		right: 16px;
		top: 50%;
		transform-origin: 14px 14px;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	&.opened:after{
		transform-origin: 18px 8px;
		transform: rotate(90deg);
	}	
}
.selectBox_container{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

ul.options_container{
	padding: 0; 
	margin: 0;
	list-style-type: none;
	background: $base-fnt-clr;
	color: $blk-clr;
	width: calc(100% - 20px);
	position: absolute;
	z-index:99;
	display: none;
	li{
		height: 58px;
		line-height: 58px;
		padding-left: 42px;
		font-size: $fnt24;
		cursor: pointer;
		&:hover, &.selected{
			background: #f0f0f0;
		}

	}
}

input[type="text"], input[type="tel"]{
	@extend .form-control;
	@include flexi_txt();
	font-size: $fnt24;
	&.total{
		-moz-box-shadow: inset 0px 0px 0 6px $secondary-clr;
		-webkit-box-shadow: inset 0px 0px 0 6px $secondary-clr;
		box-shadow: inset 0px 0px 0 6px $secondary-clr;
	}
	&.error{
		-moz-box-shadow: inset 0px 0px 0 6px $err_clr;
		-webkit-box-shadow: inset 0px 0px 0 6px $err_clr;
		box-shadow: inset 0px 0px 0 6px $err_clr;
	}
}
::-webkit-input-placeholder{
	font-size: $fnt24;
}
input[type="radio"]{
	@include radioBtn();
	width: 30px;
	height: 30px;
}

.errMsg{
	color: $err_clr;
	font-size: $fnt24;
	display: block;
	margin-top: 5px;
	float: left;
	padding: 0 10px;
	a{
		text-decoration: underline;
	}
	a:hover{
		text-decoration: none;
	}
}

.flexi_thanks{
	@include make-sm-column(7);
	@include make-md-column(6);
	font-size: $fnt24;
	margin-bottom: 65px;
	text-align: center;	
}


.flexi_heading{
	font-size: 1.625em;
	margin-bottom: 30px;
	text-align: center;
}

.privacyTxtCont 
{
	margin-bottom:60px;

	.frmLbl 
	{
		font-size:18px;
		margin-bottom:10px;
	}

	ul.info {
		margin-top:20px;
		padding:0px;
		label 
		{
		  width:70px;

		}
		li 
		{
		  list-style-type:none;
		  margin-bottom:15px;

		  span 
		  {
		  	
		  }
		}
	}	
}



.expenseFrm, .pageFrm{
	margin-bottom: 40px;
	@include clearfix();
	.row.form-group:last-child{
		margin-bottom: 0;
	}
	p{
		margin: 0 0 15px;
		line-height: 28px;
	}
	
}
.radioGroup{
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		list-style-type: none;
		margin-bottom: 10px;
	}
	li:last-child{
		margin-bottom: 0;
	}
}

.decisionCont 
{
		margin-bottom: 45px;
}

label{	
	font-weight: normal;
	&.lbl_right_algn{
		text-align: right;
		line-height: 45px;
		padding-right: 24px;
	}
	&.frmLbl{
		font-size: $fnt24;
		font-family: 'OpenSans-Bold';
	}
}


.flexi_actionBtns{
	margin-top: 8px;
	position: relative;
	z-index: 9;
	a{
		font-size: $fnt18;
		line-height: 52px;
	}
	.btn{
		@include actionBtn();
	}
}

.flexi_nav{
	ul{
		@include clearfix();			
		border-radius: 30px;
		overflow: hidden;
		margin: 0 0 32px;
		padding: 0;
		li{
			list-style-type: none;
			float: left;
			width: 25%;
			background: $blk-clr;
			text-align: center;
			height: 60px;
			line-height: 60px;			
			overflow: hidden;
			font-size: $fnt14;
			color: $nav-clr;
			&.done, &.active{
				background: $nav-activeBG;
			}
			&.active{
				color: $base-fnt-clr;
			}
		}
	}
}
.posRel{
	position: relative;
}

@media (min-width: $screen-sm-min) { 
	body{
		padding: 0;
	}
	h1{
		&.siteLogo{
			margin-bottom: 38px;

		}
	}
	.pageFooter{
		font-size: $fnt15;
	}
	ul.benefitsList{
		margin-bottom: 0;
		font-size: $fnt18;
	}
	.needHelp{
		font-size: $fnt18;
		h3{
			font-size: $fnt36;
			padding-top: 56px;
			margin: 10px 0 0;
		}	
	}
	.align_mdl_sml{
		float: left !important;
	}
	.flexi_info{
		font-size: $fnt26;
		p:nth-child(1){
			margin-bottom: 0;
		}
	}
	.resumeApp{
		font-size: $fnt18 !important;				
	}
	.resumeApp_overlay {
		.overlayCntrls{
			button{
				margin-top: 0;
			}
		}
	}
	.expenseFrm{
		p{
			line-height: 24px;
		}
	}
	.expenseFrm, .pageFrm{
		margin-bottom: 72px;
	}
	label.frmLbl{
		font-size: $fnt20;
	}
	input[type="text"], input[type="tel"], select{
		font-size: $fnt20;
	}
	::-webkit-input-placeholder{
		font-size: $fnt20;
	}

	input[type="radio"]{
		width: 25px;
		height: 25px;
	}
	.flexi_nav{
		ul{
			position: relative;
			margin-left: -23px;
			margin-right: -23px;
			li{
				font-size: $fnt18;
			}			
		}
	}

	ul.options_container{
		li{
			font-size: $fnt20;
		}
	}
	select, .selectBox_container{
		font-size: $fnt20;
	}
	.errMsg{
		font-size: $fnt20;	
	}

	
}